@import url('https://fonts.cdnfonts.com/css/sega-logo-font');

@font-face{
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('https://fonts.cdnfonts.com/css/sega-logo-font') format('TTF');
}
h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 300;
    color: #0ccac4;
}